.sponsor-section{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.sponsor-content{
    width: 70%;
    color: white;
    margin: auto;
}

.sponsor-title{
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: bold;
}

.sponsor-content .sponsor-logo{
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 10px;
}

.sponsor-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sponsor-icon {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sponsor-icon img{
    width: 50px;
}



@media only screen and (max-width: 808px) {
    .sponsor-logo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}


@media only screen and (max-width: 540px) {
    .sponsor-logo{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}