.top{
    /* display: flex; */
    /* align-items: start; */
    background-image: url("../assets/bg.png");
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
    padding-top: 75px;
    min-height: 100vh;
}

.outlet{
    padding-left: 20%;
    margin: auto;
}